Node-RED/flow.json
[{"id":"f7062c62.157788","type":"tab","label":"CLTP","disabled":false,"info":"# Contact Less Temperature Project\n\n(c) Rei Vilo, 2020\n\nCC = BY SA NC\n\nTo be used with \n\n+ the `ContactLessTemperatureProject` Arduino sketch \n \nand\n\n+ Seeed Wio Terminal https://www.seeedstudio.com/Wio-Terminal-p-4509.html\n+ Seeed Grove Gesture Sensor for Arduino (PAJ7620U2) https://www.seeedstudio.com/Grove-Gesture-PAJ7620U2.html\n+ Seeed Grove AMG8833 8x8 Infrared Thermal Temperature Sensor Array https://www.seeedstudio.com/Grove-Infrared-Temperature-Sensor-Array-AMG8833.html\n+ Seeed Grove I²C Hub 6 Ports https://www.seeedstudio.com/Grove-I2C-Hub-6-Port-p-4349.html\n+ Seeed Grove - mini PIR motion sensor https://www.seeedstudio.com/Grove-mini-PIR-motion-sensor-p-2930.html"},{"id":"ba7bde9a.f843e","type":"subflow","name":"Image","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"cb7e9b3a.63418"}]}],"out":[{"x":340,"y":80,"wires":[{"id":"cb7e9b3a.63418","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d0146afa.05e9e","type":"ui_group","z":"","name":"Dynamic Range","tab":"96d3e0d9.900ab","order":1,"disp":true,"width":"6","collapse":false},{"id":"96d3e0d9.900ab","type":"ui_tab","z":"","name":"Temperature Project","icon":"dashboard","disabled":false,"hidden":false},{"id":"845a2e9.421b3d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d58fd0f9.24da1","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"17ad95fd.9f3cb2","type":"ui_group","z":"","name":"Absolute Range","tab":"96d3e0d9.900ab","order":3,"disp":true,"width":"6","collapse":false},{"id":"7f5f8315.c98dac","type":"ui_spacer","name":"spacer","group":"d0146afa.05e9e","order":3,"width":1,"height":1},{"id":"4b6c8b87.469fbc","type":"ui_spacer","name":"spacer","group":"d0146afa.05e9e","order":5,"width":1,"height":1},{"id":"9a8319e4.028438","type":"ui_spacer","name":"spacer","group":"d0146afa.05e9e","order":6,"width":1,"height":1},{"id":"4499e7c6.fa805","type":"ui_spacer","name":"spacer","group":"d0146afa.05e9e","order":7,"width":1,"height":1},{"id":"7d4c9f48.432a98","type":"ui_spacer","name":"spacer","group":"17ad95fd.9f3cb2","order":3,"width":1,"height":1},{"id":"16379a12.fadb26","type":"ui_spacer","name":"spacer","group":"17ad95fd.9f3cb2","order":5,"width":1,"height":1},{"id":"6dd82d68.0e471c","type":"ui_spacer","name":"spacer","group":"17ad95fd.9f3cb2","order":6,"width":1,"height":1},{"id":"4908cd52.46237c","type":"ui_spacer","name":"spacer","group":"17ad95fd.9f3cb2","order":7,"width":1,"height":1},{"id":"cb7e9b3a.63418","type":"function","z":"ba7bde9a.f843e","name":"","func":"var html = '';\n\nvar colours = [\n    \"FFF\", \"FBF\", \"F7F\", \n    \"F0F\", \"B07\", \"F00\",\n    \"F30\", \"F70\", \"FB0\",  // 9 AI white-orange\n    \"FF0\", \"BF0\",         // 2 JK yellow-lime\n    \"7F0\", \"0F0\", \"0FB\",  \n    \"0FF\", \"07F\", \"00F\", \n    \"00B\", \"007\", \"000\"   // 9 QT cyan-black\n    ];\nvar maxColour = colours.length;\n\n/*html  = '<style>table, th, td {';\nhtml += 'border: 1px solid black;';\nhtml += 'border-collapse: collapse;';\nhtml += 'border-color: #777;';\nhtml += '}</style>';\n*/\nhtml += '<table style=\"text-align: center\">';\nhtml += '<colgroup><col span=\"8\" width=\"20px\"></colgroup>'\n\nfor (var i=0; i<8; i++) \n{\n  html += '<tr height=20px>'\n  \n  for (var j=0; j<8; j++) \n  {\n    var v = msg.payload.charCodeAt(i + 8 * j) - 65; // 65 = A\n    var c = \"777\";\n    if ((v >= 0) && (v < maxColour)) \n    {\n       c = colours[v];\n    }\n    \n    html += '<td bgcolor=#' + c + '></td>';\n  }\n  html += '</tr>';\n}\nhtml += '</table>';\n\nmsg.payload = html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":80,"wires":[[]]},{"id":"408c2190.3fa598","type":"ui_template","z":"f7062c62.157788","group":"d0146afa.05e9e","name":"Local","order":4,"width":4,"height":4,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":730,"y":120,"wires":[[]]},{"id":"34774d79.513aaa","type":"ui_template","z":"f7062c62.157788","group":"17ad95fd.9f3cb2","name":"Absolute","order":4,"width":4,"height":4,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":740,"y":240,"wires":[[]]},{"id":"2c9badc1.42bdd2","type":"subflow:ba7bde9a.f843e","z":"f7062c62.157788","name":"","env":[],"x":470,"y":160,"wires":[["408c2190.3fa598"]]},{"id":"74c80864.082e4","type":"subflow:ba7bde9a.f843e","z":"f7062c62.157788","x":470,"y":240,"wires":[["34774d79.513aaa"]]},{"id":"fdceed30.965398","type":"switch","z":"f7062c62.157788","name":"Topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Thermal/Local","vt":"str"},{"t":"eq","v":"Thermal/MinL","vt":"str"},{"t":"eq","v":"Thermal/MaxL","vt":"str"},{"t":"eq","v":"Thermal/Check","vt":"str"},{"t":"eq","v":"Thermal/MinC","vt":"str"},{"t":"eq","v":"Thermal/MaxC","vt":"str"},{"t":"eq","v":"Thermal/Result","vt":"str"},{"t":"eq","v":"Thermal/Action","vt":"str"},{"t":"eq","v":"Thermal/State","vt":"str"},{"t":"eq","v":"Thermal/Transition","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":270,"y":260,"wires":[["2c9badc1.42bdd2"],["ec87e36b.9b9f7"],["9928693d.8cfc"],["74c80864.082e4"],["b26deac5.2d777"],["21644b57.0d5bec"],["534014b0.fb33fc"],["cf128ade.9d8448"],["abd3798b.00e0b8"],[]]},{"id":"be85a3f8.212b8","type":"mqtt in","z":"f7062c62.157788","name":"","topic":"Thermal/#","qos":"2","datatype":"auto","broker":"d58fd0f9.24da1","x":120,"y":60,"wires":[["3a56dce9.32bdcc","fdceed30.965398"]]},{"id":"ec87e36b.9b9f7","type":"ui_text","z":"f7062c62.157788","group":"d0146afa.05e9e","order":8,"width":5,"height":1,"name":"","label":"Min","format":"{{msg.payload | number: 1 }} °C","layout":"row-spread","x":730,"y":160,"wires":[]},{"id":"9928693d.8cfc","type":"ui_text","z":"f7062c62.157788","group":"d0146afa.05e9e","order":1,"width":5,"height":1,"name":"","label":"Max","format":"{{msg.payload | number: 1 }} °C","layout":"row-spread","x":730,"y":200,"wires":[]},{"id":"3a56dce9.32bdcc","type":"debug","z":"f7062c62.157788","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":60,"wires":[]},{"id":"534014b0.fb33fc","type":"ui_text","z":"f7062c62.157788","group":"d0146afa.05e9e","order":9,"width":0,"height":0,"name":"","label":"Result","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":360,"wires":[]},{"id":"abd3798b.00e0b8","type":"switch","z":"f7062c62.157788","name":"State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":270,"y":420,"wires":[[],[],[],[],[],[],["136d2670.5f921a"]]},{"id":"4ccab17b.311d4","type":"ui_toast","z":"f7062c62.157788","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":750,"y":540,"wires":[[]]},{"id":"26c0897f.01f19e","type":"inject","z":"f7062c62.157788","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"WARNING","payload":"<p>This project is for EDUCATIONAL PURPOSE ONLY and SHALL NOT be used for effective fever detection.</p><p>Contact your local health authority for appropriate tools and procedures.</p>","payloadType":"str","x":130,"y":540,"wires":[["4ccab17b.311d4","136d2670.5f921a","66ba2669.54f6f"]]},{"id":"136d2670.5f921a","type":"change","z":"f7062c62.157788","name":"Empty","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":460,"wires":[["408c2190.3fa598","34774d79.513aaa","ec87e36b.9b9f7","9928693d.8cfc","534014b0.fb33fc","cf128ade.9d8448"]]},{"id":"cf128ade.9d8448","type":"ui_text","z":"f7062c62.157788","group":"17ad95fd.9f3cb2","order":9,"width":0,"height":0,"name":"","label":"Action","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":400,"wires":[]},{"id":"66ba2669.54f6f","type":"function","z":"f7062c62.157788","name":"","func":"var html = '';\n\nvar colours = [\n    \"FFF\", \"FBF\", \"F7F\", \n    \"F0F\", \"B07\", \"F00\",\n    \"F30\", \"F70\", \"FB0\",  // 9 AI white-orange\n    \"FF0\", \"BF0\",         // 2 JK yellow-lime\n    \"7F0\", \"0F0\", \"0FB\",  \n    \"0FF\", \"07F\", \"00F\", \n    \"00B\", \"007\", \"000\"   // 9 QT cyan-black\n    ];\nvar maxColour = colours.length;\n\n/*html  = '<style>table, th, td {';\nhtml += 'border: 1px solid black;';\nhtml += 'border-collapse: collapse;';\nhtml += 'border-color: #777;';\nhtml += '}</style>';\n*/\nhtml += '<table style=\"text-align: center\">';\nhtml += '<colgroup><col span=\"20\" width=\"20px\"></colgroup>'\n\nfor (var k=0; k<20; k++) \n{\n  html += '<tr height=13px>'\n  html += '<td bgcolor=#' + colours[k] + '></td>';\n  html += '</tr>';\n}\nhtml += '</table>';\n\nmsg.payload = html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":580,"wires":[["a2f58712.efcbe8","82573a.bc4108c8"]]},{"id":"b26deac5.2d777","type":"ui_text","z":"f7062c62.157788","group":"17ad95fd.9f3cb2","order":8,"width":5,"height":1,"name":"","label":"Min","format":"{{msg.payload | number: 1 }} °C","layout":"row-spread","x":730,"y":280,"wires":[]},{"id":"21644b57.0d5bec","type":"ui_text","z":"f7062c62.157788","group":"17ad95fd.9f3cb2","order":1,"width":5,"height":1,"name":"","label":"Max","format":"{{msg.payload | number: 1 }} °C","layout":"row-spread","x":730,"y":320,"wires":[]},{"id":"a2f58712.efcbe8","type":"ui_template","z":"f7062c62.157788","group":"d0146afa.05e9e","name":"Range","order":2,"width":1,"height":6,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":730,"y":580,"wires":[[]]},{"id":"82573a.bc4108c8","type":"ui_template","z":"f7062c62.157788","group":"17ad95fd.9f3cb2","name":"Range","order":2,"width":1,"height":6,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":730,"y":620,"wires":[[]]},{"id":"a5f4f10e.c31618","type":"mqtt out","z":"f7062c62.157788","name":"","topic":"Thermal/Command","qos":"","retain":"","broker":"d58fd0f9.24da1","x":610,"y":800,"wires":[]}]